<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="sidebar">
  <a class="active" id="name">Web Name</a>
  <a routerLink="/company-home" > Home</a>
  <a routerLink="/employees">Employees</a>
  <a routerLink="/salary">Salary</a>
  <a routerLink="/attendance">Attendance</a>
  <a routerLink="/reports">Reports</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/settings">Settings</a>
</div>
<div class="main">
  <header>
    <br><button routerLink="" type="submit" class="btn btn-primary float-right text-center" >Log Out</button><br>
    <div class="header"><h2>Company Name</h2></div>
  </header>

</div>






<div class="tab">
  <button class="tablinks" routerLink="/monthlyattendance">Monthly Attendance</button>
  <button class="tablinks" routerLink="/holidays">Holidays</button>
  <button class="tablinks" routerLink="/workinghours">Working Hours</button>
  <button class="tablinks"></button>
</div>










<table>

  <tr>
  
  <th>S.No</th>
  
  <th>Month</th>
  
  <th>Holidays</th>
  
  </tr>
  
  <tr>
  
  <td>1</td>
  
  <td>January</td>
  
  <td></td>
  
  </tr>
  
  <tr>
  
  <td>2</td>
  
  <td>February</td>
  
  <td></td>
  
  </tr>
  
  <tr>
  
  <td>3</td>
  
  <td>March</td>
  
  <td></td>
  
  </tr>
  
  <tr>
  
  <td>4</td>
  
  <td>April</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>5</td>
  
  <td>May</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>6</td>
  
  <td>June</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>7</td>
  
  <td>July</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>8</td>
  
  <td>August</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>9</td>
  
  <td>September</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>10</td>
  
  <td>October</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>11</td>
  
  <td>November</td>
  
  <td></td>
  
  </tr>
  <tr>
  
  <td>12</td>
  
  <td>December</td>
  
  <td></td>
  
  </tr>
  
  </table>
  
  
  
  