.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left:169px;
    margin-right: 10px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
    border-bottom: solid 1px  #4d4dff;
}
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
}

.sidebar a {
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidebar a.active {
  background-color: #4d4dff;
  color: white;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.header{
  text-align: center;
  //background-color: #818181;
  color:black;
  padding: 5px;
  border-bottom: solid 1px  #4d4dff;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.select{
  margin-left: 170px;
  margin-top: 20px;
}
.option{
  width: 10%;
}  

#logout{
  margin-left: 1000px;
}












table {

  margin-top: 10px; 
  border-collapse: collapse;  
  border-spacing:  0;  
  width:50%;  
  border:   1px solid   #ddd;  
  margin-left: 
  169px;
  
  }
  
  
  th, td {
  text-align: left;
  padding: 16px;
  }
  tr:nth-child(even) { 
  background-color:  #f2f2f2;
  }

  .select{
    margin-left: 169px;
  }

  #options{
    width:10%;
    padding:5px;
  }
  






