<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="sidebar">
  <a class="active" id="name">Web Name</a>
  <a routerLink="/company-home" > Home</a>
  <a routerLink="/employees">Employees</a>
  <a routerLink="/salary">Salary</a>
  <a routerLink="/attendance">Attendance</a>
  <a routerLink="/reports">Reports</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/settings">Settings</a>
</div>
<div class="main">
  <header>
    <br><button routerLink="" type="submit" class="btn btn-primary float-right text-center" >Log Out</button><br>
    <div class="header"><h2>Company Name</h2></div>
  </header>

</div>






<div class="tab">
  <button class="tablinks" routerLink="/monthlyattendance">Monthly Attendance</button>
  <button class="tablinks" routerLink="/holidays">Holidays</button>
  <button class="tablinks" routerLink="/workinghours">Working Hours</button>
  <button class="tablinks"></button>
</div>


<div class="select">

<label>Department:</label>

<select id="options">

<option value=""></option>

<option value=""></option>

<option value=""></option>

<option value=""></option>

</select><br><br>

</div>

<table>

<tr>

<th>Shift Number</th>

<th>Shift Timing</th>

</tr>

<tr>

<td><input type="number"></td>

<td><input type="text"></td>

</tr>


</table>
