<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <div class="card-title text-center">
        <h3>CONTACT DETAILS</h3>
        <address>(COO)</address>
      </div>
      <form id="signup">
        <div class="form-group">
          Name<input type="text" id="companyname" class="form-control">
        </div>
        <div class="form-group">
          Designation<input type="text" id="companyname" class="form-control">
        </div>
        <div class="form-group">
          Address<input type="text" id="companyname" class="form-control">
        </div>
        <div class="form-group">
          Mobile Number<input type="text" id="companyname" class="form-control">
        </div>
        <div class="form-group">
          E-Mail<input type="text" id="companyname" class="form-control">
        </div>
      </form>

      <div class="card-title text-center">
        <h3>CONTACT PERSON</h3>
        <address>(HR)</address>
      </div>
      <form id="signup">
      <div class="form-group">
        Name<input type="text" id="companyname" class="form-control">
      </div>
      <div class="form-group">
        Designation<input type="text" id="companyname" class="form-control">
      </div>
      <div class="form-group">
        Address<input type="text" id="companyname" class="form-control">
      </div>
      <div class="form-group">
        Mobile Number<input type="text" id="companyname" class="form-control">
      </div>
      <div class="form-group">
        E-Mail<input type="text" id="companyname" class="form-control">
      </div>
      </form>

      <div>
        <button routerLink="/company-home" type="submit" class="btn btn-primary form-control text-center button">Submit</button>

      </div>
    </div>
  </div>
</div>