<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="sidebar">
  <a class="active" id="name">Web Name</a>
  <a routerLink="/company-home" > Home</a>
  <a routerLink="/employees">Employees</a>
  <a routerLink="/salary">Salary</a>
  <a routerLink="/attendance">Attendance</a>
  <a routerLink="/reports">Reports</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/settings">Settings</a>
</div>
<div class="main">
  <header>
    <br><button routerLink="" type="submit" class="btn btn-primary float-right text-center" >Log Out</button><br>
    <div class="header"><h2>Company Name</h2></div>
  </header>

  


  <div class="tab">
    <button class="tablinks" routerLink="/monthlyattendance">Monthly Attendance</button>
    <button class="tablinks" routerLink="/holidays">Holidays</button>
    <button class="tablinks" routerLink="/workinghours">Working Hours</button>
    <button class="tablinks"></button>
  </div>








<div id="select">
<label>Month:</label>
<select id="option">
  <option>Jan</option>
  <option>Feb</option>
  <option>Mar</option>
  <option>Apr</option> 
  <option>May</option>
  <option>Jun</option>
  <option>Jul</option>
  <option>Aug</option>  
  <option>Sep</option>
  <option>Oct</option>
  <option>Nov</option>
  <option>Dec</option>
</select><br><br>
<label>Department:</label>
<select id="option">
  <option></option>
  <option></option>
</select><br><br>
<label>Shift:</label>
<select id="option">
  <option></option>
  <option></option>
</select><br><br>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>No.of days appeared</th>
    <th>Total no.of leave taken</th>
    <th>Leave Category</th>
    <th>Reason</th>
  </tr>
  <tr>
    <td>name 1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>name 2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>name 3</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>name 4</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>name 5</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>name 6</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>