#signup{
    border: solid 0.5px;
    border-radius: 10px;
    padding: 25px 25px;
    margin-top: 5%;
}

.button{
    margin-top: 5%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.register{
    margin-top: 5%;
}