<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <div class="card-title text-center">
        <h2>SIGN UP</h2> 

      </div>
      <form id="signup">
        <div class="form-group register">
          Company Name<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group">
          Register ID<input type="text" id="companyname" class="form-control">
        </div>
        <div class="form-group">
          Company ID<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group">
          TAN<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group">
          PAN<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group">
          GST<input type="text" id="companyname"  class="form-control"> 
        </div>
        <div class="form-group">
          Password<input type="password" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          Address<input type="address" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          Number<input type="number" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          State<input type="text" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          Country<input type="text" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          Contact<input type="text" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          Landline<input type="number" id="companyname" class="form-control"> 
        </div>
        
      </form>
      <div>
        <button routerLink="/contact" type="submit" class="btn btn-primary form-control text-center button" >Next</button>

      </div>
    </div>
  </div>
</div>