<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="sidebar">
  <a class="active" id="name">Web Name</a>
  <a routerLink="/company-shome" > Home</a>
  <a routerLink="/employees">Employees</a>
  <a routerLink="/salary">Salary</a>
  <a routerLink="/attendance">Attendance</a>
  <a routerLink="/reports">Reports</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/settings">Settings</a>
</div>
<div class="main">
  <header>
    <br><button routerLink="" type="submit" class="btn btn-primary float-right text-center" >Log Out</button><br>
    <div class="header"><h2>Company Name</h2></div>
  </header>



<div class="tab">
  <button class="tablinks" routerLink="/employee-details">Employee Details</button>
  <button class="tablinks" routerLink="/add-employee">Add Employee</button>
</div>



<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <div class="card-title text-center">
        <h3>ADD EMPLOYEE</h3> 

      </div>
      <form id="signup">
        <div class="form-group ">
          Employee ID<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Name<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Destination<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Branch<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Department<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Shift<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Address<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          E-Mail<input type="text" id="companyname"  class="form-control">
        </div>     
        <div class="form-group">
          Mobile Number 1<input type="number" id="companyname" class="form-control"> 
        </div>
        <div class="form-group">
          Mobile Number 2<input type="number" id="companyname" class="form-control"> 
        </div>
        <div class="form-group ">
          Landline<input type="number" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          DoB<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          Blood Group<input type="text" id="companyname"  class="form-control">
        </div>    
        <div class="form-group ">
          Medical Issue<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Other Remarks<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          CTC Per Annum<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Per Month<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Basic<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          HRA<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          DA<input type="text" id="companyname"  class="form-control">
        </div>
        <div class="form-group ">
          CTC AM<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Load<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Pt<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          It<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Others<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Total Salary<input type="text" id="companyname"  class="form-control">
        </div>  
        <div class="form-group ">
          Net Salary<input type="text" id="companyname"  class="form-control">
        </div>    

      </form>
      <div>
        <button  type="submit" class="btn btn-primary form-control text-center button" >ADD</button>

      </div>
    </div>
  </div>
</div>